[submodule "libopencm3"]
	path = examples/libopencm3/libopencm3
	url = https://github.com/libopencm3/libopencm3.git
[submoduile "examples/libopencm3/libopencm3-template"]
	path = examples/libopencm3/libopencm3-template
	url = https://github.com/libopencm3/libopencm3-template.git
