**/*.a
**/*.log
**/*.o
**/*.test
**/*.tga
**/*.trs
**/.deps/
**/.dirstamp
**/config.h
**/config.h.in
**/Makefile
**/Makefile.in
**/stamp-h1
.version
aclocal.m4
autom4te.cache/
build-aux/
config.log
config.status
configure
configure.scan
eglib-*.tar.gz
eglib-*/